In [13]:
# import psycopg2
import pandas as pd
import sqlalchemy

In [2]:
username = 'telrich'
password = '28_March_2000'
host = 'telrichserver.postgres.database.azure.com'
database = 'newdb'

conn_str = f'postgresql+psycopg2://{username}:{password}@{host}/{database}'

In [3]:
engine = sqlalchemy.create_engine(conn_str, pool_pre_ping=True)
con = engine.connect()

In [4]:
cur = con.engine

In [5]:
result = cur.execute("Select * from pg_catalog.pg_tables where schemaname != 'pg_catalog' AND schemaname != 'information_schema'")
result.fetchall()

[('public', 'inventory', 'telrich', None, True, False, False, False),
 ('public', 'busbreakdowndelay', 'telrich', None, False, False, False, False)]

In [6]:
query = """CREATE TABLE busBreakdownDelay (
    school_year varchar(10) NOT NULL, 
    busbreakdown_id varchar(20) NOT NULL,
    run_type varchar(30),
    bus_no varchar(20),
    route_number varchar(20),
    reason text,
    school_serviced varchar(250),
    occured_on timestamp default NULL,
    created_on timestamp default NULL,
    boro varchar(30),
    bus_company_name varchar(50),
    how_long_delayed varchar(10),
    number_of_students_on_the_bus integer,
    has_contractor_notified_schools varchar(4),
    has_contractor_notified_parents varchar(4),
    have_you_alerted_opt varchar(4),
    informed_on timestamp default NULL,
    incident_number varchar(10),
    last_updated_on timestamp default NULL,
    breakdown_or_running_late varchar(30) NOT NULL,
    school_age_or_prek varchar(30)
)"""

cur.execute("DROP TABLE IF EXISTS busBreakdownDelay")

cur.execute(query)

In [7]:
query = "SELECT * FROM busBreakdownDelay"
pd.read_sql_query(query, con)

Empty DataFrame
Columns: [school_year, busbreakdown_id, run_type, bus_no, route_number, reason, school_serviced, occured_on, created_on, boro, bus_company_name, how_long_delayed, number_of_students_on_the_bus, has_contractor_notified_schools, has_contractor_notified_parents, have_you_alerted_opt, informed_on, incident_number, last_updated_on, breakdown_or_running_late, school_age_or_prek]
Index: []

[0 rows x 21 columns]

In [14]:
df = pd.read_csv('Bus_Breakdown_and_Delays.csv')
df.head()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,New Jersey,...,NaN,11,Yes,No,Yes,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:12:14 AM,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,Manhattan,...,20MNS,2,Yes,Yes,No,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:13:34 AM,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,11/05/2015 08:09:00 AM,11/05/2015 08:13:00 AM,Bronx,...,15MIN,8,Yes,Yes,Yes,11/05/2015 08:13:00 AM,NaN,11/05/2015 08:13:22 AM,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,11/05/2015 08:12:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,15 MIN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:04 AM,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,NaN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:08 AM,Running Late,School-Age

In [16]:
df.columns = df.columns.str.lower()

In [ ]:
df.to

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281110 entries, 0 to 281109
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   School_Year                      281110 non-null  object
 1   Busbreakdown_ID                  281110 non-null  int64
 2   Run_Type                         281107 non-null  object
 3   Bus_No                           281101 non-null  object
 4   Route_Number                     281103 non-null  object
 5   Reason                           281108 non-null  object
 6   Schools_Serviced                 281103 non-null  object
 7   Occurred_On                      281110 non-null  object
 8   Created_On                       281110 non-null  object
 9   Boro                             267649 non-null  object
 10  Bus_Company_Name                 281110 non-null  object
 11  How_Long_Delayed                 245502 non-null  object
 12  Number_Of_Students_On_The_Bus    281110 non-null  int64
 13  Has_Contractor_Notified_Schools  281110 non-null  object
 14  Has_Contractor_Notified_Parents  281110 non-null  object
 15  Have_You_Alerted_OPT             281110 non-null  object
 16  Informed_On                      281110 non-null  object
 17  Incident_Number                  9483 non-null    object
 18  Last_Updated_On                  281110 non-null  object
 19  Breakdown_or_Running_Late        281110 non-null  object
 20  School_Age_or_PreK               281110 non-null  object
dtypes: int64(2), object(19)
memory usage: 45.0+ MB

In [10]:
csvTuple = tuple(df.itertuples(index=False, name=None))

In [11]:
# some = csvTuple[:5]
cur.execu

In [12]:
query = "INSERT INTO busBreakdownDelay values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur.execute(query, csvTuple)

KeyboardInterrupt:

In [ ]:
query = "SELECT * FROM busBreakdownDelay"
d = pd.read_sql_query(query, con)
d

,school_year,busbreakdown_id,run_type,bus_no,route_number,reason,school_serviced,occured_on,created_on,boro,...,how_long_delayed,number_of_students_on_the_bus,has_contractor_notified_schools,has_contractor_notified_parents,have_you_alerted_opt,informed_on,incident_number,last_updated_on,breakdown_or_running_late,school_age_or_prek
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,2015-11-05 08:10:00,2015-11-05 08:12:00,New Jersey,...,NaN,11,Yes,No,Yes,2015-11-05 08:12:00,NaN,2015-11-05 08:12:14,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,2015-11-05 08:10:00,2015-11-05 08:12:00,Manhattan,...,20MNS,2,Yes,Yes,No,2015-11-05 08:12:00,NaN,2015-11-05 08:13:34,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,2015-11-05 08:09:00,2015-11-05 08:13:00,Bronx,...,15MIN,8,Yes,Yes,Yes,2015-11-05 08:13:00,NaN,2015-11-05 08:13:22,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,2015-11-05 08:12:00,2015-11-05 08:14:00,Manhattan,...,15 MIN,6,No,No,No,2015-11-05 08:14:00,NaN,2015-11-05 08:14:04,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,2015-11-05 08:13:00,2015-11-05 08:14:00,Manhattan,...,NaN,6,No,No,No,2015-11-05 08:14:00,NaN,2015-11-05 08:14:08,Running Late,School-Age

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   school_year                      5 non-null      object
 1   busbreakdown_id                  5 non-null      object
 2   run_type                         5 non-null      object
 3   bus_no                           5 non-null      object
 4   route_number                     5 non-null      object
 5   reason                           5 non-null      object
 6   school_serviced                  5 non-null      object
 7   occured_on                       5 non-null      datetime64[ns]
 8   created_on                       5 non-null      datetime64[ns]
 9   boro                             5 non-null      object
 10  bus_company_name                 5 non-null      object
 11  how_long_delayed                 5 non-null      object
 12  number_of_students_on_the_bus    5 non-null      int64
 13  has_contractor_notified_schools  5 non-null      object
 14  has_contractor_notified_parents  5 non-null      object
 15  have_you_alerted_opt             5 non-null      object
 16  informed_on                      5 non-null      datetime64[ns]
 17  incident_number                  5 non-null      object
 18  last_updated_on                  5 non-null      datetime64[ns]
 19  breakdown_or_running_late        5 non-null      object
 20  school_age_or_prek               5 non-null      object
dtypes: datetime64[ns](4), int64(1), object(16)
memory usage: 968.0+ bytes